@font-face {
    font-family: 'Fjalla One';
    src: url(../fonts/FjallaOne-Regular.ttf);
}

body {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3vh;
}

.material-symbols-outlined {
    font-size: 3vh !important;
    color: black !important;
}

td, th{
    border-radius: 0px !important;
}

nav .brand-logo.center {
    font-size: 9vh !important;
}

nav .nav-wrapper {
    height: 100% !important;
}

.rounded{
    border-radius: 50%;
    margin: 10px;
    font-size: 5vh !important;
    color: black !important;
    border: 0.5vh solid black;
}

.carStatus_ok{
    border-radius: 100%;
    margin: 10px;
    background-color: rgb(0, 189, 0) !important;
    border: 0.3vh solid black;
}

.driveCar{
    color:black !important;
}

.editCar{
    color: rgb(0, 189, 0) !important;
}

.deleteCar{
    color: red !important;
}

#addCar{
    background-color: rgb(0, 189, 0) !important;
}

.color{
    height: 3vh;
    width: 3vh;
    background-color: yellow;
    border-radius: 100%;
}

.input-field input:focus+label{
    color: yellow !important;
}

.input-field input[type=text]:focus{
    border-bottom: 1px solid yellow !important;
    box-shadow: 0 1px 0 0 yellow !important;
}

.input-field input:focus{
    border-bottom: 1px solid yellow !important;
    box-shadow: 0 1px 0 0 yellow !important;
}

.input-field .prefix.active{
    color: yellow !important;
}

input.valid:not(.browser-default){
    border-bottom: 1px solid #009dff !important;
    -webkit-box-shadow: 0 1px 0 0 #009dff !important;
    box-shadow: 0 1px 0 0 #009dff !important;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: yellow !important;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid yellow !important;
}

.select-dropdown li.disabled, .select-dropdown li.disabled>span, .select-dropdown li.optgroup {
    color: rgba(0,0,0,0.3);
    background-color: gray !important;
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    background-color: gray !important;
    color: rgba(0,0,0,0.3) !important;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.datepicker-date-display {
    background-color: Gray !important;
    color: #fff;
}

.timepicker-digital-display {
    background-color: gray !important;
    ;
}

.datepicker-table td.is-selected {
    background-color: gray !important;
    color: #fff;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: gray !important;
    padding: 0 1rem;
}

.timepicker-canvas, .timepicker-dial {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.timepicker-close {
    color: gray !important;
}